section {
    padding-top: 70px;
}
nav{
    background-color: rgba(255, 255, 255, 0.5);
}
footer{
    height: fit-content;
    background-color: black;
}
.div-footer-principal{
    padding-top: 50px;
}
footer h1{
    color: white;
    padding-bottom: 20px;
}
footer p,a{
    color: white;
}

.bg-gray{
    background-color: dimgrey;
}
.img-centrada{
    margin:10px auto;
    display:block;
}
.card{
    box-shadow: 0 0 15px rgba(0,0,0, 0.6);
    border-radius: 15px;
}
.card-img-top{
    position: relative;
}
#sobrenosotros p{
    padding-top: 30px;
    padding-bottom: 30px;
}