body{
    padding-top: 35px;
}

section {
    padding-top: 50px;
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar a{
    color: white;
}
.dropdown-menu{
    background-color: black;
}
footer{
    height: fit-content;
    background-color: black;
}
.div-footer-principal{
    padding-top: 50px;
}
footer h1{
    color: white;
    padding-bottom: 20px;
}
footer p,a{
    color: white;
}

.bg-gray{
    background-color: dimgrey;
}
.card {
    margin-left: 15px;
    margin-right: 15px;
}