        section {
            padding-top: 70px;
            padding-bottom: 20px;
        }
        
        nav {
            background-color: rgba(0,0,0, 0.5);
        }
        .navbar a{
            color: white;
        }
        .dropdown-menu{
            background-color: black;
        }
        footer {
            height: fit-content;
            background-color: black;
        }
        
        .div-footer-principal {
            padding-top: 50px;
        }
        
        footer h1 {
            color: white;
            padding-bottom: 20px;
        }
        
        footer p,
        a {
            color: white;
        }
        
        .bg-gray {
            background-color: dimgrey;
        }
        
        .img-centrada {
            margin: 10px auto;
            display: block;
        }
        
        .card {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
            border-radius: 15px;
            display: block;
            max-height: fit-content;
        }
        
        .card-body {
            max-height: 88px;
        }
        
        .card-img-top {
            position: relative;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        
        #sobrenosotros p {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
        #contribuciones h1 {
            padding-bottom: 30px;
            text-align: center;
        }
        
        .padding {
            padding-bottom: 30px;
        }
        
        .form {
            padding-top: 20px;
        }
        
        .card-deck span {
            display: none;
        }
        
        .card {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 12px;
            margin-bottom: 12px;
        }
        
        .card:not(:last-child) {
            margin-right: 15px;
        }